@import "../../theme/colors.css";

.leftNav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 9;
  background: $colorDarkBlue;
  transition: -webkit-transform 0.3s ease-out 0s;
  will-change: transform;
  overflow-y: auto;
  transform: translateX(0%);
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
}
