$colorRed: #ff0000;
$colorWhite: #ffffff;
$colorGrey: #586378;
$colorLightGreen: #7ed321;

/* Theme Colours */
$colorAqua: #0ebac5;
$colorDarkBlue: #2e3c56;
$colorDarkerBlue: #232e42;

$colorBGLightGrey: #f4f4f4;
$colorSelectButtonBorder: #ebebeb;

$colorGrey2: #eaeaea;

/* Color Indicators */
$colorActive: #37e291;
$colorInProgress: #ffb500;

/* Font Color */
$colorDarkGrey: #4a4a4a;
$colorTextGrey1: #9b9b9b;
