.Videocomponent {
  display: block;
}
.videojs2 {
  font-size: 3em;
  line-height: 1.5em;
  height: 4.5em;
  width: 3em;
  display: block;
  position: absolute;
  top: 37%;
  left: 81px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  /* border: 0.06666em solid #fff; */
  /* background-color: #2B333F; */
  /* background-color: rgba(43, 51, 63, 0.7); */
  /* border-radius: 0.3em; */
  transition: all 0.4s;
  width: 44px;
  height: 44px;
  box-shadow: 0 2px 22px 0 rgba(123, 123, 123, 0.5);
  border: solid 1px #eaeaea;
  background-color: var(--white-two);
  border-radius: 360px;
  background: #fff;
  color: #0ebac5;
}
.play_btn {
  font-size: 3em;
  line-height: 1.5em;
  height: 1.5em;
  width: 3em;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: 0.06666em solid #fff;
  background-color: #fff !important;
  border-radius: 0.3em;
  transition: all 0.4s;
}
