@import "../../theme/colors.css";
@import "../../theme/typography.css";
@import "../../theme/fonts.css";

.mainContentWrapper {
  margin-left: 180px;
}

.mainContent {
  background: $colorWhite;
  margin: 15px 0 0 15px;
  min-height: calc(100vh - 65px);
}

.mainContent .automationSubNav {
  background: $colorBGLightGrey;
  border-bottom: 0;
}

.mainContent .automationSubNav li.automationSubNavItems > a {
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 0;
}

.mainContent .automationSubNav li.automationSubNavItems > a,
.mainContent .automationSubNav li.automationSubNavItems > a:focus,
.mainContent .automationSubNav li.automationSubNavItems > a:hover {
  border: 0;
}

.mainContent .automationSubNav li.automationSubNavItems > a:hover {
  background-color: inherit;
}
